.root  {
	height: 100%;
}

.header {
	display: flex;
    align-items: center;
    padding : 5px 20px;
    background-color: #ffffff;
    color : #0088A3;
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
}

.logoWrap {
	flex : 1;
	padding: 10px;
}

.logoWrap img {
	width: 150px;
}

.logo {
}

.logoStrong {
}

.logoNormal {
}

.slogan {
    font-weight: 400;
    font-size: 1.15em;
    color: #80D5E6;
}

.content {
	min-height: calc(100% - 100px);
	padding : 20px;
	margin-top: 5px;
	display: flex;
	background-color: #fafafa;
}

.root > hr {
	border-bottom: none;
}

.headerActions {
	position: relative;
}

.headerActions > a {
	color: #0955A4;
}

.left {
	flex-grow: 1;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
}

.right {
	flex-shrink: 0;
	width: 450px;
}

.card {
	margin : 20px 0;
	border-radius: 5px;
	min-height: 100px;
	padding: 20px 20px;
	box-shadow: 0 1px 6px rgba(0,0,0,0.12),
         0 1px 4px rgba(0,0,0,0.12);
    background-color: #ffffff;
}

.activity {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.tweetBox{
	max-height: inherit;
}

.recentActivity {
	flex-grow: 1;
	max-height: 250px
}

.recentActivityIcons, .services {
	display: flex;
}

.recentActivityIcon, .servicesIcons {
	display: flex;
    flex: 4;
    text-align: center;
    margin: 10px;
    background: #00AACC;
    border-radius: 3px;
    color: #fff;
}

.servicesIcons{
	display: inline;
}

.servicesWrap {
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.recentActivityIconLeft {
	padding : 10px;
}

.recentActivityIconLeft span {
	transform: translateY(50%);
}

.recentActivityIconRight {
	padding : 10px;
}

.newActivity {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.activityLink {
	padding : 15px;
	color: #ffffff;
	font-weight: bold;
	border-radius : 4px;
	/*color: rgb(0, 188, 212);*/
	cursor: pointer;
	position: relative;
	box-shadow: 0 1px 6px rgba(0,0,0,0.12),
         0 1px 4px rgba(0,0,0,0.12);
}

.activityLink:nth-child(even) {
	background-color: #9E9D24;

}


.activityLink:nth-child(odd) {
	background-color: #D69A2B;
}

.welcomeAd {
	cursor: pointer;
}