.root  {
	height: 100%;
}

.header {
	display: flex;
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
}

.logo {
	font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
}

.logoWrap {
	flex : 1;
	padding: 10px;
}

.logoWrap img {
	width: 150px;
}

.logoStrong {
	color: #0955A4;
    font-weight: 400;
}

.logoNormal {
	color: #666;
}

.slogan {
	text-align: right;
	color: #0955A4;
    font-weight: 400;
    font-size: 1.15em;
}

.root  hr {
	border-bottom: none;
}

.content {
	min-height: calc(100% - 100px);
	padding: 0 20px;
	padding-bottom: 15px;
	margin-top: 30px;
}

.findingImage {
	width: 80%;
}

.multiple img {
	width: 80%;
}

.findings.multiple {
	display: flex;
	flex-wrap: wrap;
}

.finding {
	padding: 20px 10px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.findingText {
	text-align: left;
	margin-left : 10%;
}

.multiple .finding {
	width: 30%;
}

.findingWrap {
	text-align: center;
}

.card {
	box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
	padding: 30px 30px;
}

.conclusion {
	font-size: 1.3em;
	box-sizing: border-box;
}

.abstract {
	background: #f1f1f1;
    padding: 30px 20px;
    font-weight: normal;
    border-radius: 5px; 
    box-sizing: border-box;
}